<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello Splash !!!</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        {% if message %}
            <h2> Hello World </h2>
        {% endif %}

        <div class="row">
            <ol class="list-group">
                {% for photo in photos %}
                <li>    {{ photo.photo_id }} || {{photo.created_at}} || {{photo.user_display_name}} </li>
                {% endfor %}
            </ol>
        </div>

    </div>
</body>
</html>