<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello Splash !!!</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            {% if message %}
                <h2> {{message}} - {{total_photos}} Photos </h2>
            {% endif %}

            <p style="font-size:1.5em">
                {% if django_version %}
                    Django version: {{django_version}}
                    <br>
                {% endif %}

                {% if system_timezone %}
                    System Timezone: {{system_timezone}}
                    <br>
                {% endif %}

                {% if current_time %}
                    Local Time: {{current_time}}
                    <br>
                {% endif %}

                {% if debug_status %}
                    Debug Status: {{debug_status}}
                    <br>
                {% endif %}

                {% if system_language %}
                    System Language: {{system_language}}
                    <br>
                {% endif %}
            </p>
        </div>

        <div class="row">
            <div class="row">
                <div class="col-md-4" style="font-size: 2em">
                    <b>Photo ID </b>
                </div>

                <div class="col-md-4" style="font-size: 2em">
                    <b>Created At </b>
                </div>

                <div class="col-md-4" style="font-size: 2em">
                   <b> Creator Name </b>
                </div>
            </div>

            {% for photo in photos %}
                <div class="row">
                    <div class="col-md-4" style="font-size: 1.2em">
                         {{ photo.photo_id }}
                    </div>

                    <div class="col-md-4" style="font-size: 1.2em">
                        {{photo.created_at}}
                    </div>

                    <div class="col-md-4" style="font-size: 1.2em">
                        {{photo.user_display_name}}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>