<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register Devices!</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="row"></div>

        <div class="col-md-4" style="margin-top:30px;">
            {% block content %}
                <h3>New Post</h3>
                <form method="POST" class="form-inline">{% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="save btn btn-success">Save</button>
                </form>
            {% endblock %}

        </div>
    </div>
</body>

<script language="JavaScript">

    function register_phone() {
        $("#btn_register_phone").submit(function(e) {

            var url = "http://127.0.0.1:8080/unsplash/register_phone";
            console.log($("#form_register_phone").serialize());
            console.log("baal");

            $.ajax({
                   type: "POST",
                   url: url,
                   data: $("#form_register_phone").serialize(),
                   success: function(data) {
                       alert(data);
                   }
                 });

            e.preventDefault();
        });
    }

</script>

</html>


