<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register Devices!</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!--app specific js file-->
    {% load static %}
    <link rel="stylesheet" href="{% static '/unsplash/css/main.css' %}">
    <script src="{% static '/unsplash/main.js'%}" type="javascript"></script>
</head>
<body>
    <div class="container">
        <div class="row"></div>

        <div class="col-md-4" style="margin-top:30px;">

            {% block content %}
                <h3>New Post</h3>
                <form method="POST" class="form-inline">{% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="save btn btn-success">Save</button>
                </form>
            {% endblock %}

        </div>
    </div>
</body>

</html>


